@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full w-full m-0 p-0;
  }

  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }

  #root {
    @apply flex flex-col;
  }
}