.prompts {
  width: 100%;
  margin-top: 48px;
  font-size: 14px;
  font-weight: 500;
  .header {
    height: 64px;
    line-height: 64px;
    border-top: solid 1px var(--sps-color-border-secondary);
  }
  .promptsCard {
    position: relative;
    width: 100%;
    height: 220px;
    padding: 12px;
    transition: all 0.3s ease;
  }
  .promptsIcon {
    width: 48px;
    height: 48px;
    font-size: 24px;
    background-color: var(--sps-color-fill-tertiary);
    padding: 12px;
    border-radius: 8px;
  }
  .promptsName {
    font-weight: 500;
  }
  .promptsDesc {
    color: var(--sps-color-text-tertiary);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  .promptsButton {
    position: absolute;
    width: calc(100% - 60px);
    bottom: 22px;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}
